* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  padding: 16px;
  margin: 0 auto;
}

@media (min-width: 1080px) {
  .page-container{
    max-width: 1080px;
  }
}

.container {
  border: 2px dashed #ccc;
  padding: 20px;
  min-height: 450px;
  min-width: 800px;
}

.dropzone {
  position: relative;
  overflow: hidden;
}

.dropzone.dragover {
  background-color: #f0f0f0;
}

.canvas_box {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
}

.txt {
  width: 300px;
  height: 22px;
  font-size: 14px;
}

.hide {
  display: none;
}
.status-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 34px;
}
.range-bar {
  font-size: 14px;
  margin-right: 20px;
}
.range {
  height: 20px;
  vertical-align: bottom;
}
.view-rate {
  width: 50px;
  height: 20px;
  border: none;
  background: none;
  vertical-align: bottom;
}
.def_size{
  height: 20px;
  font-size: 14px;
  margin-right: 20px;
}
.export-btn {
  height: 20px;
  outline: none;
  border: none;
  background: #e2e2e2;
  padding: 0 4px;
  border-radius: 4px;
}

.export-btn:active {
  background-color: #cfcfcf;
}