* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  padding: 0 16px;
  margin: 0 auto;
  width: 1080px;
}

.header-bar {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
}

.container {
  border: 2px dashed #ccc;
  padding: 20px;
  /* min-width: 800px;
  min-height: 450px; */
}

@media screen and (min-width: 1080px) {
  .page-container{
    width: 1080px;
  }

  .container {
    padding: 20px;
    min-width: 800px;
    min-height: 450px;
  }
}

@media screen and (max-width: 600px) {
  .page-container{
    width: 100%;
    padding: 12px;
  }
  .container {
    padding: 4px; 
    width: 100%;
  }
}

.dropzone {
  position: relative;
  overflow: hidden;
}

.dropzone.dragover {
  background-color: #f0f0f0;
}

.canvas_box {
  width: 100%;
  height: 100%;
  border: 1px solid #e0e0e0;
}

.txt {
  width: 300px;
  height: 22px;
  font-size: 14px;
}

.hide {
  display: none;
}
.status-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 34px;
  margin-bottom: 12px;
}
.range-bar {
  font-size: 14px;
  margin-right: 20px;
}
.range {
  height: 20px;
  vertical-align: bottom;
}
.view-rate {
  width: 50px;
  height: 20px;
  display: inline-block;
  border: none;
  background: none;
  vertical-align: bottom;
}
.def_size{
  height: 20px;
  font-size: 14px;
  margin-right: 20px;
}
.export-btn, .rotate-btn {
  height: 20px;
  outline: none;
  border: none;
  background: #e2e2e2;
  padding: 0 4px;
  border-radius: 4px;
}

.export-btn:active, .rotate-btn:active {
  background-color: #cfcfcf;
}

.rotate-btn {
  margin-right: 20px;
}

.upload-box {
  padding: 8px 0;
}

.file-upload {
  background-color: #a5a0e1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  height: auto;
  display: inline-block;
}

.footer-bar {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  position: fixed;
  bottom: 0;
}

.footer-bar a {
  color: #666;
  text-decoration: none;
}

.footer-bar a:hover {
  color: #027bfe;
  text-decoration: underline;
}